@using Core.Models;
@using Core.Utility.Common;
@using X.PagedList.Mvc.Core;
@using Core.Resources;
@using Core.Entity.Enums;
@using Microsoft.AspNetCore.Http;


@model X.PagedList.PagedList<Core.Entity.VoiceMasterSetting>

@{
    ViewBag.Title = "Add Voice To User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageName = "Voice List";
}
@{
  
    var _role = (HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserRole.ToString()) != null ? Convert.ToString(HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserRole.ToString())) : "");
    TempData["UserRole"] = _role;

}

@section Scripts {
    <script type="text/javascript">
        var changeStatusUrl = '/AddVoiceToUser/ChangeStatus/';
        var searchUrl = '/AddVoiceToUser/SearchVoice';
        var listtype = '@ViewBag.RequestList';
    </script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/run_prettify.js"></script>
    <script src="~/Scripts/responsive-table.js" type="text/javascript"></script>
   
    <script src="~/custom-js/admin.js"></script>
    <script src="~/custom-js/AddVoiceToUser.js"></script>
    <script>
        var custDateTime = new Date().getTime();
        document.write("<script src=\"/Scripts/Common/commonlist.js?v=" + custDateTime + "\"><\/script>");
        selectAllVoiceToUser();

        var playstatusflag = false;
        var hdnMp3Val = "";
        function playPauseAudio(id) {
            hdnMp3Val = "";
            hdnMp3Val = $("#hdn" + id).val();
            //console.log("hdnMp3Val ", hdnMp3Val);
            $("#" + id).attr("src", hdnMp3Val);

            $(".iconAudioPlayer").addClass("audio-player-button");
            $(".iconAudioPlayer").removeClass("audio-pause-button");
            var audioElements = document.getElementsByClassName("mp3_audio");
            for (var i = 0; i < audioElements.length; i++) {
                audioElements[i].pause();                
            }
          
            if (playstatusflag == false) {
                console.log("Play Audio");
                document.getElementById(id).play();
                playstatusflag = true;
                $("#" + id).parent().parent().find("span").removeClass("audio-player-button");
                $("#" + id).parent().parent().find("span").addClass("audio-pause-button");
            }
            else {
                console.log("Pause Audio");
                document.getElementById(id).pause();
                playstatusflag = false;
                $("#" + id).parent().parent().find("span").removeClass("audio-pause-button");
                $("#" + id).parent().parent().find("span").addClass("audio-player-button");
            }

            var aud = document.getElementById(id);
            aud.onended = function () {
                playstatusflag = false;
                $("#" + id).parent().parent().find("span").removeClass("audio-pause-button");
                $("#" + id).parent().parent().find("span").addClass("audio-player-button");
            };
        }
    </script>
    <script>

        $(document).ready(function () {
            if ($('.checkbox_voice:checked').length == $('.checkbox_voice').length) {
                $('#select_all_voices').prop('checked', true);
                console.log("Select IF");
            } else {
                $('#select_all_voices').prop('checked', false);
                console.log("Select Else");
            }
        });
    </script>
}

<div class="content-wrapper box" id="divLoader">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <input type="hidden" id="page" name="page" value="0" />
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewBag.Title</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="mtop15">
                <div class="card">

                    <div class="">

                        <div class="listview-top-lp">                            
                            <input type="hidden" id="hdnUserID" value="@ViewBag.UserID" />
                            <input id="Search" type="text" maxlength="100" name="Search" class="form-control search-records input-search-listview" onkeydown="CallEnter(event, 'btnSearch')" placeholder="@Resource.lbl_search" />
                            <input id="btnSearch" type="submit" value="" name="btnSearch" class="btn btn-primary btn-search-listview" onclick="goSearch()" />
                            <div class="clear"></div>
                        </div>
                        <div class="listview-top-rp">
                            @*<ul class="btn-holder">
                                <li class="lib-lang-holLP">
                                     <span class="lib-reco-hol" id="dvRecPerPage">
                                        <label>@Resource.lbl_recordsPerPage:</label><br />
                                        @{
                                            CommonData objCD = new CommonData(HttpContextAccessor);
                                            string pageSize = (HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.GridPageSize.ToString()) != null ? HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.GridPageSize.ToString()) : "10");
                                            SelectList pageSizes = new SelectList(objCD.GetPageSizes(), "Value", "Text", pageSize);
                                        }
                                        @Html.DropDownList("ddlPageSize", (IEnumerable<SelectListItem>)pageSizes, new { onchange = "changePageSize()", @class = "form-control dropdownDownArrow" })
                                    </span> 
                                    
                                </li>
                            </ul>*@
                            <div class="btnHolder_addVoiceToUserToggle" style="position: relative; top: 4px;">
                                <a class="btn btn-sm btn-default" id="" onclick="history.back()" style="top: 0px;">Back</a>
                                <a class="btn btn-sm btn-primary btnCopyToMyTopic disabledCustom" id="saveButton" onclick="SaveAllVoiceToUser()" disabled style="top: 0px;">Save</a>


                                <div class="onoffswitchVoiceSelAll">
                                    <input id="select_all_voices" type="checkbox"  class="onoffswitchVoiceSelAll-checkbox" />
                                    <label class="onoffswitchVoiceSelAll-label" for="select_all_voices">
                                        <span class="onoffswitchVoiceSelAll-inner"></span>
                                        <span class="onoffswitchVoiceSelAll-switch"></span>
                                    </label>
                                </div>

                                @* <label for="select_all_voices" class="pull-right selectAll btn btn-sm btn-primary">
                                    <input type="checkbox" onclick="" id="select_all_voices" class="form-control" style="width: 18px; height: 18px;" /> <span>Select all</span>
                                </label> *@
                                @* <sapn class="btn btn-sm btn-primary" onclick="unSelectAll()">Unselect All</sapn> *@
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        @if (TempData["UserRole"].ToString() == "7" || TempData["UserRole"].ToString() == "3")
                        {
                            <div class="form-group">
                                <div class="alert alert-info alert-dismissable">
                                    <i class="fa fa-info"></i>                                
                                    <span class="iconHolderSpan"> <i class="fa fa-unlock"></i> Enable </span>
                                    <span class="iconHolderSpan"> <i class="fa fa-lock"></i> Disable </span>
                                    <span class="iconHolderSpan"> <i class="fa fa-trash"></i> Delete </span>
                                </div>
                            </div>
                        }
                        <div id="dvCommon">
                            @Html.Partial("_VListPartial", Model)
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
</div>



